/* *{
    text-align: center;
    justify-content: center;
} */


body {

background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.whole{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.buttons{
    display: flex;
    
}
button {
    border-radius: 10px;
    margin: 10px;
    color: white;
    height: 50px;
    width:100px
      
}
.counter {
    background-color: rgb(173, 13, 13);
}
.save-btn{
    background-color: rgb(10, 146, 10);
}
h2{
    font-size: 80px;
    color: #FFD369
   
}

h1{
    font-size: 45px;
    /* background-color: rgb(245, 239, 164) ; */
    border-radius: 6px;
    color:#EEEEEE;
    font-family: 'Alfa Slab One', cursive;
}

p {
    font-size: 35px;
    color:#EEEEEE;
}