*{
    text-align: center;
    justify-content: center;
}


body {
    background: #abbaab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin: 10px;
    /* align-items: center;
    justify-content: center; */
}

button {
    border-radius: 5px;
    margin: 10px;
    color: white;
    height: 30px;
    width:100px
   
}
.counter {
    background-color: darkred;
}
.save-btn{
    background-color: darkgreen;
}
h2{
    font-size: 60px;
}

h1{
    font-size: 40px;
    background-color: rgb(236, 191, 108) ;
    border-radius: 6px;

}

p {
    font-size: 25px;
    background-color: ;
}